.body1{
    background-image: url(bg1.jpg);
}
body{
    background-color: wheat;
}
.container{ 
    display: flex;
    height: auto;
    width: auto;
    position: relative;
    left: 30px;
    

}
.first{
    background-image: url(bg5.jpg);
    background-position-x: center;
    background-size: 400px 600px;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 10px 15px;
    height: 600px;
    width: 400px;
    position: relative;
    top: 50px;
    left: 20px;
}

.second{
    border: 1px solid;
    border-radius: 10px 15px;
    background-color: #f44b12;
    height: 600px;
    width: 400px;
    position: relative;
    top: 50px;
    left: 450px;
}

h2{
    font-size: 30px;
    margin-top: 200px;
    margin-left: 110px;
}
h1{
    position: relative;

    font-size: 40px;
    left: 110px;
    background: linear-gradient(to top, #E21143, #5e16b1);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
        
}
input{

    margin-left: 50px;
    width: 300px;
}
.submit{
    margin-left: 170px;
}
.button1{
    background-color: #f44b12;
    color: white;
    position: relative;
    top: 100px;
    left: 600px;
    height: 50px;
    border-radius: 10px 15px;
}

/*partie connexion*/

.connect{
    position: relative;
    left: 600px;
}
#Identifiant{
    height: 50px;
    position: relative;
    left: 500px;
    border: 2px solid;
    border-radius: 15px 20px;
}
#formulaire{
    display: flex;
}
#login{
    position: relative;
    left: 520px;
    height: 20px;
    top: 20px;
    width: 60px;
    border: 2px solid;
    border-radius: 20px;
    background-color: blue;
}

.footer{
    display: flex;

}
.animaux{
    background-image: url(a2.webp);
    background-size: 300px 500px;
    border: 1px solid;
    height: 500px;
    width: 300px;
    position: relative;
    left: 50px;
    border-radius: 10px 15px;
}
.forme{
    background-image: url(f2.jpg);
    background-size: 300px 500px;
    border: 1px solid;
    height: 500px;
    width: 300px;
    position: relative;
    left: 220px;
    top: 50px;
    border-radius: 10px 15px;
}
.couleur{
    background-image: url(c1.jpg);
    background-size: 300px 500px;
    border: 1px solid;
    height: 500px;
    width: 300px;
    position: relative;
    left: 370px;
    border-radius: 10px 15px;
}
.jouer{
    height: 40px;
    width: 60px;
    position: relative;
    left: 120px;
    top: 460px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.objet1{
    height: 100px;
    width: 100px;
    position: relative;
    left: 600px;
    top: 100px;
}

.objet2{
    background-color: red;
    height: 100px;
    width: 100px;
    position: relative;
    left: 110px;
    top: 200px;
}
.objet3{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: relative;
    left: 115px;
    top: 200px;
}
.objet4{
    background-color: green;
    height: 100px;
    width: 100px;
    position: relative;
    left: 120px;
    top: 200px;
}
.objet5{
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    left: 125px;
    top: 200px;
}
.objet6{
    background-color: orange;
    height: 100px;
    width: 100px;
    position: relative;
    left: 130px;
    top: 200px;
}
.objet7{
    background-color: white;
    height: 100px;
    width: 100px;
    position: relative;
    left: 135px;
    top: 200px;
}
.objet8{
    background-color: black;
    height: 100px;
    width: 100px;
    position: relative;
    left: 140px;
    top: 200px;
}
.objet9{
    background-color: violet;
    height: 100px;
    width: 100px;
    position: relative;
    left: 145px;
    top: 200px;
}
.objet10{
    background-color: pink;
    height: 100px;
    width: 100px;
    position: relative;
    left: 150px;
    top: 200px;
}
.objet11{
    background-color: maroon;
    height: 100px;
    width: 100px;
    position: relative;
    left: 155px;
    top: 200px;
}
.solution{
    display: flex;
}
#proposition{
    width: 92px;
    position: relative;
    left: 550px;
    top: 100px;
}
h5{
    font-size: 20px;
    position: relative;

}
h6{
    font-size: 25px;
    position: relative;
    left: 400px;
}
.info{
    position: relative;
    color: white;
}
.infos{
    border: 1px solid;
    width: 400px;
    height: 200px;
    position: relative;
    left: 500px;
    border-radius: 45px;
    background-color: #f44b12;
}
.rotate {
    -webkit-animation: rotate 30s normal linear infinite;
    animation: rotate 15s normal linear infinite;
  }
  
  @keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 0, 50deg);
      transform: rotate3d(0, 0, 1, 200deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 80deg);
      transform: rotate3d(0, 0, 1, 10deg);
    }
    
   
  }
  